@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: block;
}

.nav-item {
    padding: 0%;
}

.nav-link {
    color: #09174A;
    font-weight: 500;
    font-size: 14px;
}

.List {
    border-bottom-style: solid;
    border-color: #0C39C7 !important;
}

.form-select {
    padding:7px;
    background-color: rgba(163, 163, 163, 0.1);
}

.btn {
    font-weight: 500;
    font-size: 16px;
}

.btn-primary {
  background: #0C39C7;
}

.btn-outline-primary {
    color: #0C39C7;
    border-color: #0C39C7;
    --bs-btn-hover-color:#0C39C7;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: #0C39C7;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0C39C7;
    --bs-btn-active-border-color: #0d6efd;
}

.task-item {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.items {
    display: flex;
    gap: 1rem;
    align-self: center;
}

.rounded-circle {
    width:2rem;
    height:2rem;
}

.form-check-input:checked {
    background-color: #26AD13;
    border-color: #26AD13;
    box-shadow: none;
}

.sortby {
  font-weight: 600;
  font-size: 14px;
  color: #09174A;
}

.modal-title, .delete-body {
  color: #09174A;

}

.status {
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background: #EBB705;
}

.dateAndTime {
  font-weight: 500;
  font-size: 15px;
  color: #888888;
}

.edit {
  cursor: pointer;
}

.deleteElement {
  cursor: pointer;
}

.bi-pencil{
  color: #7E7E7F;

}

.bi-trash {
  color: #D04444;
}

.text20 {
    font-weight: 600;
    font-size: 20px;
}

.text16 {
    font-weight: 500;
    font-size: 16px;
}

.text18 {
    font-weight: 600;
    font-size: 18px;
}

